@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

/*
//Usage
p {
  @include font-size(14px)
}
//Output
p {
  font-size: 14px; //For unsupported browsers
  font-size: 0.8rem;
}
*/