/*IMPORT SCSS FILES*/

@import "03_vendor/bootstrap/scss/bootstrap";

@import "01_base/base";

@import "02_layout/header";
@import "02_layout/navigation";
@import "02_layout/search";
@import "02_layout/content";
@import "02_layout/footer";
@import "02_layout/responsive";


html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}




