<f:layout name="HomepageLayout" />
<f:section name="Main">
    <main class="main-content container">
        <div class="row">

            <section class="main-category col-md-9 col-sm-12">
                <h2>Themen</h2>
                <div class="row">
                    <div class="category col-md-6 col-sm-12">
                        <div class="category-content">
                            <div class="category-image">
                                <img src="../../Public/Images/typo3.svg">
                            </div>
                            <div class="category-text">
                                <h5>TYPO3</h5>
                                <p>Lorem Ipsum dolore salfjlds</p>
                            </div>
                        </div>
                    </div>
                    <div class="category col-md-6 col-sm-12">
                        <div class="category-content">
                            <div class="category-image">
                                <img src="../../Public/Images/website.svg">
                            </div>
                            <div class="category-text">
                                <h5>Frontend</h5>
                                <p>Lorem Ipsum dolore salfjlds</p>
                            </div>
                        </div>
                    </div>
                    <div class="category col-md-6 col-sm-12">
                        <div class="category-content">
                            <div class="category-image">
                                <img src="../../Public/Images/workflow.svg">
                            </div>
                            <div class="category-text">
                                <h5>Workflow</h5>
                                <p>Lorem Ipsum dolore salfjlds</p>
                            </div>

                        </div>
                    </div>
                    <div class="category col-md-6 col-sm-12">
                        <div class="category-content">
                            <div class="category-image">
                                <img src="../../Public/Images/visitor.svg">
                            </div>
                            <div class="category-text">
                                <h5>Intern</h5>
                                <p>Lorem Ipsum dolore salfjlds</p>
                            </div>

                        </div>
                    </div>
                    <div class="category col-md-6 col-sm-12">
                        <div class="category-content">
                            <div class="category-image">
                                <img src="../../Public/Images/newsletter.svg">
                            </div>
                            <div class="category-text">
                                <h5>Newsletter</h5>
                                <p>Lorem Ipsum dolore salfjlds</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

          <!--  <aside class="sidebar col-md-3 col-sm-12">
                <h4>Aktuelle Posts</h4>
                <article class="new-post">
                    <header class="header-post">
                        <h5>Scss Kompilierung</h5>
                    </header>
                    <footer class="footer-post">
                        <p>
                            <time datetime="2015-05-16 19:00">May 16</time>
                        </p>
                    </footer>
                </article>
                <article class="new-post">
                    <header class="header-post">
                        <h5>Responsive Tipps und Tricks</h5>
                    </header>
                    <footer class="footer-post">
                        <p>
                            <time datetime="2015-05-16 19:00">May 16</time>
                        </p>
                    </footer>
                </article>
                <article class="new-post">
                    <header class="header-post">
                        <h5>Auto Deployment</h5>
                    </header>
                    <footer class="footer-post">
                        <p>
                            <time datetime="2015-05-16 19:00">May 16</time>
                        </p>
                    </footer>
                </article>
            </aside>-->
        </div>

    </main>

</f:section>
