main {
  margin: 100px 0;
}
.main-content {
  flex: 1 0 auto;
}

.category {


  .category-content {
    padding: 30px;
    border-bottom: 1px solid $primary-color;

    .category-image {
      float: left;
      width: 10%;
      margin-right: 50px;

      img {
        width: 100%;
      }
    }
  }
}


aside.sidebar{
  background-color: $grey;
  padding: 40px 26px;

  article.new-post {
    margin-top: 25px;
  }
}