.main-footer {
  background-color: $primary-color;
  color: $secondary-color;
  padding: 20px 0;
  flex-shrink: 0;

  .footer-wrap {
    display: flex;
    justify-content: flex-end;
    p {
      margin-bottom: 0

    }
  }
}