.homepage-header {
  background-color: $primary-color;
  padding: 20px 20px 70px;

}
.main-header {

  overflow: hidden;
  display: flex;
}
.header-logo {
  float: left;
  width: 5%;

  img {
    width: 100%;
    height: auto;
  }
}

/*NAVIGATION -> navigation.scss*/