nav.main-nav {
  width: 95%;
  display: flex;
  justify-content: flex-end;
  align-self: center;

  ul {
    margin-bottom: 0;

    li {
      text-transform: uppercase;
      padding-right: 10px;
      display: inline-block;

      &:last-child {
        padding: 5px 10px;
        background-color: $tertiary-color;
        margin-left: 10px;

        a {
          color: $primary-color;
        }
      }

      a {
        color: $secondary-color;
        text-decoration: none;
      }

    }
  }

}
