.header-search {
  background-color: $secondary-color;
  padding: 30px;
  position: relative;
  bottom: -100px;

  .search-wrapper {
    border-bottom: 1px solid $primary-color;
    padding: 0 0 1px 3px;
    display: flex;
    justify-content: space-between;

  input, button {
      background-color: transparent;
      border: 0;
    }

    button {

    }


  }
}