body {
  color: $primary-color;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

h1 {
  @include font-size(40px);
  color: $white;
  text-transform: uppercase;
}

h2 {
  border-bottom: 1px solid $primary-color;
  @include font-size(25px);
  padding-bottom: 5px;
  margin-bottom: 0;
}

h5 {
  text-transform: uppercase;
  @include font-size(14px);
}

p {
  @include font-size(14px);
}

mark {
  background-color: transparent;
  font-weight: 700;
  color: $white;
  @include font-size(55px);
  text-transform: none;
}

input::-webkit-input-placeholder {
  color: $primary-color;
  font-family: 'Poppins';
  font-weight: 300;
  @include font-size(13px);
}

time {
  @include font-size(12px);
}