<footer class="main-footer">
    <div class="container footer-wrap">
        <p>© {f:cObject(typoscriptObjectPath: 'lib.year')} {f:cObject(typoscriptObjectPath: 'lib.city')}, {f:cObject(typoscriptObjectPath: 'lib.companyName')} {f:cObject(typoscriptObjectPath: 'lib.legalForm')}</p>
    </div>
</footer>