<header class="homepage-header">
    <section class="main-header">
        <div class="header-logo">
            <f:cObject typoscriptObjectPath="lib.logo"/>
        </div>
        <f:cObject typoscriptObjectPath="lib.navigation"/>
    </section>

    <button id="hamburger-icon" class="hamburger hamburger--spring" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
    </button>

    <section class="main-title container">
        <h1><mark>sesamnet</mark> Knowledgeblog</h1>
    </section>

    <section class="header-search container">
        <form>
            <div class="search-wrapper">
                <input type="text" placeholder="Suchen..." name="search">
                <button type="submit"><i class="fas fa-search"></i></button>
            </div>
        </form>
    </section>

</header>