<header class="homepage-header">
    <section class="main-header">
        <div class="header-logo">
            <f:cObject typoscriptObjectPath="lib.logo"/>
        </div>
        <f:cObject typoscriptObjectPath="lib.navigation"/>
    </section>

    <section class="main-title container">
        <f:cObject typoscriptObjectPath="lib.headline"/>
    </section>

</header>